#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.dashboard{
  display: grid;
  grid-template-columns: 30rem 1fr;
  width: 100vw;
  height: 100vh;
}
.sidebar{
  text-align: left;
}
.leader_photo{
  height: 15rem;
  width: auto
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
